<div class="pac-card" id="pac-card">
  <md-card>
    <form class="example-form">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="type your address" value="Sushi" #search [formControl]="searchControl" autocorrect="off" autocapitalize="off"
          spellcheck="off" type="text">
      </md-form-field>
    </form>
  </md-card>

  <md-card>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapClick)='mapClicked($event)'>
      <agm-marker *ngFor="let branch of branches; let i = index;" [latitude]="branch.lat" [longitude]="branch.lng" (markerClick)="mapMarkerClicked(branch, iw)">
        <agm-info-window #iw [latitude]="branch.lat" [longitude]="branch.lng" [disableAutoPan]="true"><strong>{{branch.name}}</strong><br>{{branch.address}}<br>{{branch.postalCode}}<br>{{branch.phone}}<br> transit #:
          {{branch.transit}}
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </md-card>

  <div id="infowindow-content" #info>
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <md-card *ngIf="selectedBranch">
    <strong>{{selectedBranch.name}}</strong><br>{{selectedBranch.address}}<br>{{selectedBranch.postalCode}}<br>{{selectedBranch.phone}}<br>    transit #: {{selectedBranch.transit}}
  </md-card>
</div>