<!-- <div class="container">
  <h1>Google Maps Places Autocomplete</h1>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div> -->


<div class="pac-card" id="pac-card">
  <div>
    <div id="title">
      Autocomplete search
    </div>
    <div id="pac-container">
      <input id="pac-input" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
        class="form-control" #search [formControl]="searchControl">
    </div>
    <div id="pac-container">
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        <agm-info-window [latitude]="latitude" [longitude]="longitude" [disableAutoPan]="true">Hi, this is the content of the <strong>info window</strong></agm-info-window>          
      </agm-map>
    </div>
  </div>

  <div id="infowindow-content" #info>
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
  </div>
</div>
