<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
  <md-toolbar color="primary">
    <span><md-icon>mood</md-icon></span>

    <span>POC of mYa Branch GEO</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/demo" routerLinkActive="active">Demo</button>
    <button md-menu-item routerLink="/document" routerLinkActive="active">Document</button>
  </md-menu>



  <router-outlet></router-outlet>
</div>